<h2>Pick a highlight color</h2>

<div>
  <input type="radio" name="colors" (click)="color = 'lightgreen'" />Green
  <input type="radio" name="colors" (click)="color = 'yellow'" />Yellow
  <input type="radio" name="colors" (click)="color = 'cyan'" />Cyan
</div>

<p
  [appHighlight]="color"
  [defaultColor]="defaultColor"
  (mouseenter)="setWarningMessage()"
  (mouseleave)="warningMessage = ''"
>
  Highlight me!
</p>

<div *ngIf="[warningMessage]">
  <p>{{ warningMessage }}</p>
</div>

<h3>ngNonBindable with a directive</h3>
<div ngNonBindable [appHighlight]="'yellow'">
  This should not evaluate: {{ 1 + 1 }}, but will highlight yellow.
</div>

<p *appUnless="condition" class="unless a">
  (A) This paragraph is displayed because the condition is false.
</p>

<p *appUnless="!condition" class="unless b">
  (B) Although the condition is true, this paragraph is displayed because
  appUnless is set to false.
</p>

<p>
  The condition is currently
  <span [ngClass]="{ a: !condition, b: condition, unless: true }">{{
    condition
  }}</span
  >.
  <button
    type="button"
    (click)="condition = !condition"
    [ngClass]="{ a: condition, b: !condition }"
  >
    Toggle condition to {{ condition ? "false" : "true" }}
  </button>
</p>
